* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --text: 400 1rem/*tamanho da fonte*//1.5/*font-weigth*/ var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);

  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-hightlight: #e43a12;

  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #E7E5E4;

  --stroke-default: #d6d3d1;
  --stroke-hightlight: #f3541c;
  --semantic-error: #dc2626;

}
/*em: procura no elemento pai - rem: procura no elemento root(body, normalmente)*/

body {
  overflow: hidden;/*assim, o que sobra não aparece. logo, não terá rolagem*/

  font: var(--text);
  color: var(--text-secondary);
}

h1, h2 {
  color: var(--text-primary);
}

img {
  max-width: 100%;
  height: auto;
} /*bom padrão para a imagem conseguir se encaixar nos lugares onde precisa a depender do tamanho(zoom)*/

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}